html{
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {

  margin: 0;
}

header {

  text-align: center;
  position: relative;
  padding: 1rem 0;
  background-color: #e7001d;
  color: white;
}

header img {
  width: 65px;
  position: absolute;
  left: calc(50% - 32.5px);
}

header h1 {
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 5px black;
}

header p {
  text-shadow: 1px 1px 5px black;
  font-size: 10px;
  position: relative;
  top: 3px;
  margin: 0;
}

.banner{
  position: relative;
  width: 100%;
}

.banner img{
  width: 100%;
}

.banner h1{
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 5px black;
  position: absolute;
  bottom: .3em;
  text-align: center;
  width: 100%;
}

nav li {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: inline;
  width: 50%;
  float: left;
  padding: .5em;
  background-color: #222;
}

nav ol {
  border-top: 1px solid black;
  border-left: 1px solid black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

main p{
  margin: 1em .5em;
}

.dragon img {
  float: left;
  margin-left: 6.5%;
  width: 40%;
}

.dragon {
  background-color: #e4c22a;
  padding: .5em;
  text-align: center;
}

.dragon p {
  font-style: italic;
  font-size: 11px;
  clear: left;
}

.rooster img {
  float: left;
  margin-left: 6.5%;
  width: 40%;
}

.rooster {
  color: white;
  background-color: #bc0017;
  padding: .5em;
  text-align: center;
}

.rooster p {
  font-style: italic;
  font-size: 11px;
  clear: left;
}

.goat img {
  width: 40%;
  float: left;
  margin-left: 6.5%;
}

.goat {
  padding: .5em;
  text-align: center;
  color: white;
  background-color: #222222;
}

.goat p {
  clear: left;
  font-style: italic;
  font-size: 11px;
}

.ox img {
  float: left;
  margin-left: 6.5%;
  width: 40%;
}

.ox {
  text-align: center;
  background-color: #e4c22a;
  padding: .5em;
}

.ox p {
  clear: left;
  font-size: 11px;
  font-style: italic;
}

footer {
  font-size: .7em;
  background-color: #222222;
  text-align: center;
  text-decoration: underline;
  padding: 1.75em;
}
